/** Estilos específicos para el Diálogo de Confirmación */
.modal-content {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.btn-light {
  background-color: var(--bs-secondary-bg);
  border-color: var(--bs-border-color);
  color: var(--bs-body-color);
}

.btn-light:hover {
  background-color: var(--bs-tertiary-bg);
}
